<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Customer</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body,h1,h2,h3,h4,h5,h6,
        .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
    </style>
</head>
<body class="w3-content" style="max-width:1200px">
<!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse " style="z-index:3;width:250px;" id="mySidebar">

            <div class="w3-top" style="position: fixed;top: 0%;left: 0%;">
          <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3" >
              <a href="index" class="w3-button w3-block w3-black">首頁</a></div>
              <div class="w3-col s3">
              <a href="shop1makeup" class="w3-button w3-block w3-black">美妝保養</a></div>
              <div class="w3-col s3">
                <a href="shop2appleStore" class="w3-button w3-block w3-black">好吃蘋果</a></div>
            <div class="w3-col s3">
              <a href="shop3client" class="w3-button w3-block w3-black">精品手飾</a></div>
            <div class="w3-col s3">
                <a href="shop4computerweb" class="w3-button w3-block w3-black">商務筆電</a></div>
              <div class="w3-col s3">
                <a href="shop5myhomebody" class="w3-button w3-block w3-black">優良小物</a></div> 
            <div class="w3-col s3">
              <a href="shop6hMProducts" class="w3-button w3-block w3-black">工學座椅</a></div>
            <div class="w3-col s3">
                <a href="customers" class="w3-button w3-block w3-black">會員中心</a></div>
          </div>
        </div>
        <div class="w3-container w3-display-container w3-padding-16" style="position:relative;top:5%">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        </div>

        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
         
            
            <a href="javascript:void(0)" class="w3-bar-item w3-button"
                onclick="document.getElementById('newsletter').style.display='block'">歷史訂單</a>
        </div>
    </nav>
<!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge" >
        <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24" onclick="w3_open()">
            <i class="fa fa-bars"></i></a>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<!-- Push down content on small screens -->

       <!-- --------------------------------------------------------------------- -->
        <div class="w3-main" id="mainview" style="margin-left:15%;margin-top:5%">

    <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
        <div class="w3-row" >
          <div class="w3-col m20 w3-center">
                <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">會員資料修改</span></div>
          </div>
          <div class="w3-col m20">
            <form class="w3-container w3-card-4 w3-padding-16 w3-white" style=width:70%;position:relative;left:15%  action="/member" method="post" target="_blank">
            <div class="w3-section">      
              <label>姓名: <span style="color:blue" th:text="${member.realname}"></span></label>
              <input class="w3-input" type="text" name="realname" placeholder="Edit your realname" required>
            </div>
            <div class="w3-section">      
              <label>手機:<span style="color:blue" th:text="${member.phone}"></span></label>
              <input class="w3-input" type="text" name="phone" placeholder="Edit your phone" required>
            </div>
            <div class="w3-section">      
              <label>生日:<span style="color:blue" th:text="${member.birthday}"></span></label>
              <input class="w3-input" type="date" name="birthday" placeholder="Edit your birthday" required>
            </div>
            <button type="submit" class="w3-button w3-right w3-theme" id="confirm" onclick="alert('修改完成')">送出</button>
            </form>
          </div>
        </div>
        <div class="w3-center w3-margin" style="position:relative;top:50px">
        <form action="/logout" method="get">
        <button type="submit" class="w3-button w3-blue w3-margin-bottom " >登出</button>   
        </form>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------- -->



        <!-- Newsletter Modal -->
        <div id="newsletter" class="w3-modal">
            <div class="w3-modal-content w3-animate-zoom" style="padding:10px">
                <div class="w3-container">


                    <h2 class="w3-wide" style="position:center;">購買紀錄</h2>
                   
                     <button type="button" class="w3-button w3-blue w3-margin-bottom " id="bybtn">查詢個人購買紀錄</button>
                    <!-- 插入資訊 -->
                    <div class="w3-section" style="text-align: center;" id="dp2"></div>
                    <!-- 插入資訊 -->
                    
                   
                    <button type="button" class="w3-button w3-red w3-margin-bottom "
                        onclick="document.getElementById('newsletter').style.display='none'">返回</button>
            </div>
        </div>
        


<script>
            // Open and close sidebar
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
                document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                document.getElementById("myOverlay").style.display = "none";
            }
            function r(data){
                $("#dp").html(data);
              }
            function br(data){
                $("#dp2").html(data);
              }
              
              function se(evt){
           	   evt.preventDefault();
           	   $.post("customers",r);
              }
              function be(evt){
                evt.preventDefault();
                var m=$("#namemail").val();
                $.post("customersreach",{"namemail":m},br);
              }
              function be2(evt){
                  evt.preventDefault();                  
                  $.post("customersreach2",br);
                }
             
              
              function start(){
           	   $("#sreachbtn").click(se);
           	   $("#bybtn").click(be2);
           	   
              }
              $(document).ready(start);

        </script>


</body>
</html>
